<% if(listExists){ %>
    <table class="u-full-width">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Imágen</th>
            </tr>
        </thead>
        <tbody>
            <% productsList.forEach(product => { %>
                <tr>
                    <th><%= product.title %></th>
                    <th>$<%= product.price %></th>
                    <th><img src="<%= product.thumbnail %>" alt=""></th>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <h2>No hay productos</h2>  
<% } %>